#prod-back{
 
     width: 100%;
     height: 100%;
     color:'white';
    background:rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: lightgoldenrodyellow;
    align-items: center;
}